.userlist-container {
    width: 90%;
    margin: 30px auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .delete-btn {
    padding: 6px 12px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  